.vcf-container {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 2.5rem;
}

.vcf-form-container {
    margin-top: 2rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

*>* {
    border-color: white !important;
}

.vcf-data-table {
    margin-bottom: 3rem;
}

.vcf-submit {
    margin-top: 1rem;
}

.vcf-submit-container {
    margin-right: 2.4rem;
}

.vcf-add-btn {
    margin-top: 1rem !important;
    margin-left: 1rem !important;
}